body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

$red: #ea1c2c;

#mainNavbar {
  .navbar-brand {
    color: $red;
    font-size: 1.5rem;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: $red;
  }

  .navbar-toggler {
    border-color: $red;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234,28,44, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}

.blurb h2 {
  color: $red;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: $red;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.navbar.scrolled {
  background: #91dbdc;
  transition: background 500ms;
}
